.completionButtonStlyes {
    height: '28px';
    width: '28px';
    color: '#6EE7B7'; 
    margin-left: '15px';
}

.complete {
    text-decoration: line-through;
    color: #6EE7B7;
  }


.listStyles {

    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    margin: '10px',
}